body {
    background-image: url('./Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    font-family: Verdana, serif;
    height: 100%;
    margin: 0;
    color: white;
}

.navfont {
    font-weight: 600;
}

.page-header {
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    height: 100vh;
}

.header-buttons {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.add-car-button {
    background-color: #0074D9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.add-car-button:hover {
    background-color: #0056b3;
}

.car-details {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.car-details a {
    color: black;
    text-decoration: none;
    cursor: auto;
}

.car-details:hover {
    background-color: #f3f3f3;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.car-detail {
    text-decoration: none;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    background-color: #0074D9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button:first-child:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.navbar {
    background-color: rgba(71, 20, 117, 0);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 100;
    height: 25px;
}

.navbar .logo {
    position: absolute;
    left: 1%;
    top: 65%;
    transform: translateY(-50%);
}

.navbar .logo img {
    width: 250px;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #00bcd4;
}

.booking-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ffffff;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    color: #555;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.rbc-calendar {
    background-color: #fff;
    margin: 0 auto;
    max-width: 2600px !important;
    color: black;
    padding: 20px;
}

.calendar-slot-selector h3 {
    text-align: center;
    display: block;
    margin-top: 50px;
}

.rbc-calendar .rbc-event {
    width: 120%;
    background-color: #0074D9;
    color: #fff;
}

.rbc-calendar .rbc-event:hover {
    background-color: #0056b3;
}

.rbc-calendar .rbc-row-bg {
    background-color: #fff;
}

.rbc-calendar .rbc-header {
    background-color: #fff;
}

.slot-confirm {
    text-align: center;
}

.booking-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.booking-container {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    color: black;
}

.login-container {
    max-width: 300px;
    margin: 18% auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

button {
    width: 140px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.my-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.arrow-button {
    position: relative;
    overflow: hidden;
}

.arrow-button::before {
    content: '\2190';
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.confirm-button{
    background-color: purple;
}


footer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .page-header {
        min-height: auto;
    }

    .navbar .logo {
        left: 5%;
    }

    .booking-form-container {
        min-height: auto;
    }

    .form-container {
        max-width: 100%;
    }

    .rbc-calendar {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 480px) {
    .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar-menu li {
        margin-bottom: 10px;
    }

    .navbar .logo {
        display: none;
    }
}
